html,body{background-color:#141414;}
#NaNCat{text-align:center;padding-top:60px;}
#NaNCat img{padding:5px;box-shadow:0 0 9px rgba(178,254,70,1);-webkit-box-shadow:0 0 9px rgba(178,254,70,1);-moz-box-shadow:0 0 9px rgba(178,254,70,1);border:1px solid rgba(178,254,70,0.8);}